USE [master]
GO

IF DB_ID('PQM') IS NULL
BEGIN
    CREATE DATABASE [PQM]
END
GO

USE [PQM]
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PQM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PQM]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 6/3/2026 6:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedId] [int] NULL,
	[IP] [nvarchar](100) NULL,
	[Port] [int] NULL,
	[FtpFolder] [nvarchar](100) NULL,
	[SerialNumber] [nvarchar](150) NULL,
	[ConsumerNumber] [nvarchar](150) NULL,
	[LastSync] [datetime] NULL,
 CONSTRAINT [PK_Device] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceLog]    Script Date: 6/3/2026 6:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceLog](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](500) NULL,
	[DeviceId] [int] NOT NULL,
	[ParameterId] [int] NOT NULL,
	[DateStamp] [datetime] NOT NULL,
 CONSTRAINT [PK_DeviceLog-1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceParameterMapping]    Script Date: 6/3/2026 6:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceParameterMapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NOT NULL,
	[ParameterId] [int] NOT NULL,
	[DateStamp] [datetime] NULL,
 CONSTRAINT [PK_DeviceParameterMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventLog]    Script Date: 6/3/2026 6:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventLog](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EventType] [nvarchar](50) NULL,
	[DeviceId] [int] NOT NULL,
	[Start_Time] [datetime] NULL,
	[End_Time] [datetime] NULL,
	[Phase] [nvarchar](200) NULL,
	[Duration] [float] NULL,
	[Min_Voltage] [float] NULL,
	[Max_Voltage] [float] NULL,
	[UMAX] [float] NULL,
	[USS] [float] NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Date] [datetime] NULL,
	[A] [nvarchar](100) NULL,
	[B] [nvarchar](100) NULL,
	[C] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FTPSetting]    Script Date: 6/3/2026 6:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FTPSetting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FtpHost] [nvarchar](150) NOT NULL,
	[UserName] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](150) NOT NULL,
	[RootFolderName] [nvarchar](150) NULL,
 CONSTRAINT [PK_FTPSetting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parameter]    Script Date: 6/3/2026 6:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parameter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedId] [int] NULL,
 CONSTRAINT [PK_Parameter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Device] ADD  CONSTRAINT [DF_Device_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Device] ADD  CONSTRAINT [DF_Device_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Parameter] ADD  CONSTRAINT [DF_Parameter_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Parameter] ADD  CONSTRAINT [DF_Parameter_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[DeviceLog]  WITH NOCHECK ADD  CONSTRAINT [FK_DeviceLog_Device] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[Device] ([Id])
GO
ALTER TABLE [dbo].[DeviceLog] CHECK CONSTRAINT [FK_DeviceLog_Device]
GO
ALTER TABLE [dbo].[DeviceLog]  WITH NOCHECK ADD  CONSTRAINT [FK_DeviceLog_Parameter] FOREIGN KEY([ParameterId])
REFERENCES [dbo].[Parameter] ([Id])
GO
ALTER TABLE [dbo].[DeviceLog] CHECK CONSTRAINT [FK_DeviceLog_Parameter]
GO
ALTER TABLE [dbo].[DeviceParameterMapping]  WITH CHECK ADD  CONSTRAINT [FK_DeviceParameterMapping_Device] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[Device] ([Id])
GO
ALTER TABLE [dbo].[DeviceParameterMapping] CHECK CONSTRAINT [FK_DeviceParameterMapping_Device]
GO
ALTER TABLE [dbo].[DeviceParameterMapping]  WITH CHECK ADD  CONSTRAINT [FK_DeviceParameterMapping_Parameter] FOREIGN KEY([ParameterId])
REFERENCES [dbo].[Parameter] ([Id])
GO
ALTER TABLE [dbo].[DeviceParameterMapping] CHECK CONSTRAINT [FK_DeviceParameterMapping_Parameter]
GO
ALTER TABLE [dbo].[EventLog]  WITH NOCHECK ADD  CONSTRAINT [FK_EventLog_Device] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[Device] ([Id])
GO
ALTER TABLE [dbo].[EventLog] CHECK CONSTRAINT [FK_EventLog_Device]
GO
/****** Object:  StoredProcedure [dbo].[GetDeviceLogs]    Script Date: 6/3/2026 6:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDeviceLogs]
    @DeviceId INT = 0,
    @ParameterId INT = 0,
    @Skip INT,
    @Take INT,
    @StartDate Date,
    @EndDate Date,
    @TotalCount INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sqlBase NVARCHAR(MAX) = '';
    DECLARE @sqlCount NVARCHAR(MAX);
    DECLARE @sqlPaged NVARCHAR(MAX);
    DECLARE @paramDef NVARCHAR(MAX);

    -- Base WHERE clause
    SET @sqlBase = '
        FROM DeviceLog devicelog WITH (NOLOCK)
        JOIN Device device WITH (NOLOCK) ON devicelog.DeviceId = device.Id
        JOIN Parameter parameter WITH (NOLOCK) ON devicelog.ParameterId = parameter.Id
        WHERE (@DeviceId = 0 OR devicelog.DeviceId = @DeviceId)
          AND (@ParameterId = 0 OR devicelog.ParameterId = @ParameterId)
          AND devicelog.DateStamp BETWEEN @StartDate AND @EndDate
    ';

    -- Count query
    SET @sqlCount = 'SELECT @TotalCountOut = COUNT(*) ' + @sqlBase;

    -- Paginated result query
    SET @sqlPaged = '
        SELECT 
            devicelog.Id,
            devicelog.Value, 
            devicelog.DateStamp, 
            device.Name AS DeviceName, 
            parameter.Name AS ParameterName
        ' + @sqlBase + '
        ORDER BY devicelog.DateStamp
        OFFSET @Skip ROWS FETCH NEXT @Take ROWS ONLY;
    ';

    -- Parameters
    SET @paramDef = N'
        @DeviceId INT,
        @ParameterId INT,
        @StartDate DATE,
        @EndDate DATE,
        @Skip INT,
        @Take INT,
        @TotalCountOut INT OUTPUT
    ';

    -- Execute count query
    EXEC sp_executesql 
        @sqlCount, 
        @paramDef,
        @DeviceId = @DeviceId,
        @ParameterId = @ParameterId,
        @StartDate = @StartDate,
        @EndDate = @EndDate,
        @Skip = @Skip,
        @Take = @Take,
        @TotalCountOut = @TotalCount OUTPUT;

    -- Execute paginated data query
    EXEC sp_executesql 
        @sqlPaged, 
        @paramDef,
        @DeviceId = @DeviceId,
        @ParameterId = @ParameterId,
        @StartDate = @StartDate,
        @EndDate = @EndDate,
        @Skip = @Skip,
        @Take = @Take,
        @TotalCountOut = @TotalCount OUTPUT;
END
GO
/****** Object:  StoredProcedure [dbo].[GetEventLogs]    Script Date: 6/3/2026 6:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEventLogs]
    @DeviceId INT = 0,
    @EventType NVARCHAR(50) = 'dip',
    @Skip INT,
    @Take INT,
    @StartDate Date,
    @EndDate Date,
    @TotalCount INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sqlBase NVARCHAR(MAX) = '';
    DECLARE @sqlCount NVARCHAR(MAX);
    DECLARE @sqlPaged NVARCHAR(MAX);
    DECLARE @paramDef NVARCHAR(MAX);

    -- Base WHERE clause
    SET @sqlBase = '
        FROM EventLog eventlog WITH (NOLOCK)
        JOIN Device tblDevice WITH (NOLOCK) ON eventlog.DeviceId = tblDevice.Id
        WHERE (@DeviceId = 0 OR eventlog.DeviceId = @DeviceId)
          AND eventlog.EventType = @EventType
          AND eventlog.CreatedDate BETWEEN @StartDate AND @EndDate
    ';

    -- Count query
    SET @sqlCount = 'SELECT @TotalCountOut = COUNT(*) ' + @sqlBase;

    -- Paginated result query
    SET @sqlPaged = '
        SELECT 
            eventlog.*, 
            tblDevice.Name AS DeviceName
        ' + @sqlBase + '
        ORDER BY eventlog.CreatedDate
        OFFSET @Skip ROWS FETCH NEXT @Take ROWS ONLY;
    ';

    -- Parameters
    SET @paramDef = N'
        @DeviceId INT,
        @EventType NVARCHAR(50),
        @StartDate DATE,
        @EndDate DATE,
        @Skip INT,
        @Take INT,
        @TotalCountOut INT OUTPUT
    ';

    -- Execute count query
    EXEC sp_executesql 
        @sqlCount, 
        @paramDef,
        @DeviceId = @DeviceId,
        @EventType = @EventType,
        @StartDate = @StartDate,
        @EndDate = @EndDate,
        @Skip = @Skip,
        @Take = @Take,
        @TotalCountOut = @TotalCount OUTPUT;

    -- Execute paginated data query
    EXEC sp_executesql 
        @sqlPaged, 
        @paramDef,
        @DeviceId = @DeviceId,
        @EventType = @EventType,
        @StartDate = @StartDate,
        @EndDate = @EndDate,
        @Skip = @Skip,
        @Take = @Take,
        @TotalCountOut = @TotalCount OUTPUT;
END
GO
